.channel-item {
    /* border-bottom: 1px solid #e0e0e0; */
    padding: 10px;
    border-radius: 10px;
    margin-top: 0.5rem;
}
.channel-item div {
    font-weight: bold;
}
.channel-item span {
    font-size: 10px;
}
.channel-item:hover {
    background-color: #e0e0e0;
    cursor: pointer;
}