.message-item {
    width: 90%;
    position: relative;
    margin-top: 1rem;
}

.message-item .message-container {
    padding: 1rem;
    /* display: flex; */
    width: fit-content;
    overflow: hidden;
    background-color: white;
    border-radius: 0px 15px 15px 15px;
}