.MLStats-container {
    width: 20%;
    height: 100%;
    position:relative;
    margin-right: 1rem;
    margin-top: 1rem;
}

.MLStats-container .MLStats-header {
    border-bottom: 1px solid #e0e0e0;
    height: 4rem;
    margin: 1rem;
    padding-left: 2rem;
    display: flex;
    /* justify-content: center; */
    align-items: center;
}

.MLStats-container .MLStats-header .MLStats-header-text {
    font-weight: 600;
    font-size: 20px;
}